.link {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
}

.link:not(:last-child) {
  margin-right: 20px;
}

.activeLink {
  position: relative;
}

.activeLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #ff6b08;
  border-radius: 2px;
}
