footer {
  padding: 20px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../img/header-mob.jpg);
}

.footerLable {
  text-align: center;
  display: block;
  color: #ffffff;
  margin-bottom: 10px;
}

.footerLogo {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  footer {
    width: 768px;
    background-image: url(../../img/header-tab.jpg);
  }
}

@media screen and (min-width: 1200px) {
  footer {
    width: 1200px;
    background-image: url(../../img/header-desktop.jpg);
  }
}
