.backBtn {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #ff6b08;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.4;
  font-style: normal;
  font-weight: 500;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.movieCard {
  margin-top: 20px;
}

.infoWrapper {
  margin-top: 20px;
}

.movieName {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
}

.userScore {
  margin-top: 20px;
}
.Lbl {
  font-size: 12px;
  line-height: 1.4;
  color: #8c8c8c;
  margin-right: 40px;
}

.Value {
  display: inline-block;
  text-align: center;
  width: 36px;
  height: 16px;
  font-size: 12px;
  line-height: 1.4;
  background-color: #ff6b01;
  color: #ffffff;
  border-radius: 5px;
}

.genres {
  margin-top: 10px;
}

.genreName {
  margin-right: 5px;
  font-size: 12px;
  line-height: 1.4;
}

.overviewHeader {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.4;
}

.overviewText {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.8;
}

.optionsList {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.optionsList li:not(:last-child) {
  margin-right: 10px;
}

.option {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  color: black;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.4;
  font-style: normal;
  font-weight: 500;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.optionChecked {
  background-color: #ff6b08;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .movieCard {
    display: flex;
    justify-content: space-around;
  }
  .infoWrapper {
    margin-top: 20px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
}
